html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border-width: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: monospace, Helvetica, Arial, sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body,
html {
  min-height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  overflow-x: hidden;
}
body {
  min-height: 100%;
  font-family: 'Open Sans';
  background-color: #fff;
  color: #416c7d;
}
::selection {
  background-color: #f942a8;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background-color: #f942a8;
  color: #fff;
  text-shadow: none;
}
.text-align-center-g {
  text-align: center;
}
.bold-g,
.b-g {
  font-weight: bold;
}
.op-0-g {
  opacity: 0;
}
.op-5-g {
  opacity: 0.5;
}
.text-align-g {
  text-align: center;
}
.float-left-g,
.f-l-g {
  float: left;
}
.float-right-g,
.f-r-g {
  float: right;
}
.h-g {
  display: none;
}
.h-g-i {
  display: none !important;
}
.hl-g {
  outline: 1px solid #9d9d9d;
}
.cf,
clearfix {
  zoom: 1;
}
.cf:after,
clearfix:after,
.cf:before,
clearfix:before {
  content: '';
  display: table;
}
.cf:after,
clearfix:after {
  clear: both;
}
.sidebar li {
  font-size: 16px;
  line-height: 26px;
  color: #416c7d;
  list-style: none;
  position: relative;
  padding-left: 20px;
  font-weight: 400;
}
.sidebar li > a {
  color: inherit;
}
.sidebar li:before {
  content: '';
  position: absolute;
  left: 5px;
  top: 10px;
  width: 6px;
  height: 6px;
  background: #416c7d;
  border-radius: 50%;
}
.sidebar-header {
  color: #416c7d;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}
.sidebar-about {
  color: #416c7d;
  font-size: 14px;
  line-height: 24px;
}
.input {
  outline: none;
  border: 1px solid currentColor;
  min-height: 40px;
  border-radius: 3px;
  display: block;
  width: 100%;
  padding-left: 10px;
  font-size: 16px;
  color: #416c7d;
}
.input::-webkit-input-placeholder {
/* WebKit browsers */
  color: rgba(65,108,125,0.3);
}
.input::-moz-placeholder {
/* Mozilla Firefox 19+ */
  color: ;
}
.input:-ms-input-placeholder {
/* Internet Explorer 10+ */
  color: rgba(65,108,125,0.3);
}
.input:focus,
.input:hover {
  box-shadow: 0 0 0 1px currentColor;
}
.header-link {
  color: #416c7d;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
}
.icon-text {
  color: #fff;
}
.icon-text .icon {
  float: left;
  fill: currentColor;
}
.icon-text__text {
  margin-left: 50px;
}
a,
.link {
  text-decoration: none;
  position: relative;
  display: inline-block;
  color: #5adcff;
  cursor: default;
  line-height: 22px;
}
a:hover,
.link:hover {
  cursor: pointer;
  text-decoration: underline;
}
a:focus,
.link:focus {
  outline: none;
  outline: 1px solid #416c7d;
}
.share-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid transparent;
/* 333473649f1a25a7bf3d21b835adaa06 */
/* 3c5c6e87f864179fba9ba330a3d2d01d */
/* 012b156610f7a08ac477c0b51092f409 */
/* ce133e0571031a40d6608ea8a2f0ef43 */
}
.share-icon:hover {
  border-color: currentColor;
  -webkit-transition: border-color 0.3s linear;
  transition: border-color 0.3s linear;
}
.share-icon .icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
  position: absolute;
  margin-left: -12px;
  margin-top: -12px;
  top: 50%;
  left: 50%;
}
.share-icon iframe,
.share-icon .IN-widget {
  position: absolute !important;
  z-index: 1 !important;
  top: 0 !important;
  left: 0 !important;
  -webkit-transform: scale(10) !important;
  -ms-transform: scale(10) !important;
  transform: scale(10) !important;
  opacity: 0;
}
.share-icon--twitter {
  color: #00acff;
}
.share-icon--twitter .icon {
  -webkit-transform: translate(1px, 1px);
  -ms-transform: translate(1px, 1px);
  transform: translate(1px, 1px);
}
.share-icon--twitter a {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
  position: relative;
  z-index: 20;
  opacity: 0;
}
.share-icon--facebook {
  color: #3b5998;
  position: relative;
}
.share-icon--facebook a {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
  position: relative;
  z-index: 20;
  opacity: 0;
}
.share-icon--linkedin {
  color: #007ab8;
}
.share-icon--google {
  color: #df4a32;
}
.share-icon--google .icon {
  margin-top: -10px;
  margin-left: -10px;
}
.share-icon--google iframe {
  -webkit-transform: translate(-65px, 0) !important;
  -ms-transform: translate(-65px, 0) !important;
  transform: translate(-65px, 0) !important;
  position: relative;
}
.next-post {
  border: 1px solid #f1f1f1;
  padding: 2px 2.5% 4px;
  border-radius: 3px;
  color: #416c7d;
  font-size: 16px;
  line-height: 22px;
/* 04fb5a24890d2727c7d068012f03d5be */
}
.next-post:after {
  display: none;
}
.next-post:hover {
  border-color: currentColor;
  text-decoration: none;
}
.next-post:active {
  border-color: #d5d5d5;
}
.next-post--read-more {
  background: #f9f9f9;
  border-color: #f9f9f9;
}
.next-post--read-more:hover {
  background: #f1f1f1;
  border-color: #f1f1f1;
}
.next-post--read-more:active {
  background: #f9f9f9;
  border-color: #f9f9f9;
}
.grid {
  zoom: 1;
/* b9a0ff7b6444fe8b3932c06919534ab5 */
}
.grid:after,
.grid:before {
  content: '';
  display: table;
}
.grid:after {
  clear: both;
}
.grid .grid-bit {
  float: left;
  padding-left: 10px;
  padding-right: 5px;
}
.grid .grid-bit:last-of-type {
  padding-right: 10px;
}
.grid .grid-bit + .grid-bit {
  padding-left: 5px;
}
.grid--gutter-x2 .grid-bit {
  padding-left: 20px;
  padding-right: 10px;
}
.grid--gutter-x2 .grid-bit:last-of-type {
  padding-right: 20px;
}
.grid--gutter-x2 .grid-bit + .grid-bit {
  padding-left: 10px;
}
.grid--gutter-x3 .grid-bit {
  padding-left: 30px;
  padding-right: 15px;
}
.grid--gutter-x3 .grid-bit:last-of-type {
  padding-right: 30px;
}
.grid--gutter-x3 .grid-bit + .grid-bit {
  padding-left: 15px;
}
.grid--gutter-x4 .grid-bit {
  padding-left: 40px;
  padding-right: 20px;
}
.grid--gutter-x4 .grid-bit:last-of-type {
  padding-right: 40px;
}
.grid--gutter-x4 .grid-bit + .grid-bit {
  padding-left: 20px;
}
.grid--gutter-x5 .grid-bit {
  padding-left: 50px;
  padding-right: 25px;
}
.grid--gutter-x5 .grid-bit:last-of-type {
  padding-right: 50px;
}
.grid--gutter-x5 .grid-bit + .grid-bit {
  padding-left: 25px;
}
.grid--gutter-x6 .grid-bit {
  padding-left: 60px;
  padding-right: 30px;
}
.grid--gutter-x6 .grid-bit:last-of-type {
  padding-right: 60px;
}
.grid--gutter-x6 .grid-bit + .grid-bit {
  padding-left: 30px;
}
.grid--gutter-x7 .grid-bit {
  padding-left: 70px;
  padding-right: 35px;
}
.grid--gutter-x7 .grid-bit:last-of-type {
  padding-right: 70px;
}
.grid--gutter-x7 .grid-bit + .grid-bit {
  padding-left: 35px;
}
.grid--gutter-x8 .grid-bit {
  padding-left: 80px;
  padding-right: 40px;
}
.grid--gutter-x8 .grid-bit:last-of-type {
  padding-right: 80px;
}
.grid--gutter-x8 .grid-bit + .grid-bit {
  padding-left: 40px;
}
.grid--gutter-x9 .grid-bit {
  padding-left: 90px;
  padding-right: 45px;
}
.grid--gutter-x9 .grid-bit:last-of-type {
  padding-right: 90px;
}
.grid--gutter-x9 .grid-bit + .grid-bit {
  padding-left: 45px;
}
.grid--gutter-x10 .grid-bit {
  padding-left: 100px;
  padding-right: 50px;
}
.grid--gutter-x10 .grid-bit:last-of-type {
  padding-right: 100px;
}
.grid--gutter-x10 .grid-bit + .grid-bit {
  padding-left: 50px;
}
.grid--sliced .grid-bit:first-of-type {
  padding-left: 0;
}
.grid--sliced .grid-bit:last-of-type {
  padding-right: 0;
}
.grid-bit--1-20 {
  width: 5%;
}
.grid-bit--2-20 {
  width: 10%;
}
.grid-bit--3-20 {
  width: 15%;
}
.grid-bit--4-20 {
  width: 20%;
}
.grid-bit--5-20 {
  width: 25%;
}
.grid-bit--6-20 {
  width: 30%;
}
.grid-bit--7-20 {
  width: 35%;
}
.grid-bit--8-20 {
  width: 40%;
}
.grid-bit--9-20 {
  width: 45%;
}
.grid-bit--10-20 {
  width: 50%;
}
.grid-bit--11-20 {
  width: 55%;
}
.grid-bit--12-20 {
  width: 60%;
}
.grid-bit--13-20 {
  width: 65%;
}
.grid-bit--14-20 {
  width: 70%;
}
.grid-bit--15-20 {
  width: 75%;
}
.grid-bit--16-20 {
  width: 80%;
}
.grid-bit--17-20 {
  width: 85%;
}
.grid-bit--18-20 {
  width: 90%;
}
.grid-bit--19-20 {
  width: 95%;
}
.grid-bit--20-20 {
  width: 100%;
}
.shadow-eff {
  box-shadow: 4px 4px 0 0 rgba(73,73,73,0.1);
}
.icon {
  width: 40px;
  height: 40px;
  fill: #818181;
  display: block;
  position: relative;
/* f9478b0efe4b679e7d93ff6714fc849a */
/* c0a851890861617e15db37a979ff4095 */
/* 78466e66bbe30e3ca3fee109d95eb553 */
}
.icon.is-dribbble {
  fill: #f942a8;
}
.icon.is-twitter {
  fill: #416c7d;
}
.icon.is-facebook {
  fill: #3b5998;
}
.icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.icon svg {
  float: left;
  width: 100%;
  height: 100%;
}
.icon.is-hoverable:hover {
  fill: #656565;
  cursor: pointer;
}
html,
body {
  width: 100%;
  height: 100%;
}
.z-hack {
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.tri-bits g {
  display: none;
}
.tri-bits path {
  display: none;
}
.container {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.container .container__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 70.3125%;
}
.container .container__inner svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
svg {
  max-width: 1280px;
  max-height: 1280px;
  display: block;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.dust g {
  display: none;
}
.smoke g {
  display: none;
}
.caleydoscope path {
  opacity: 0;
}
.svg-letter {
  fill: none;
  stroke-width: 8;
}
