

@import 'assets/imports.styl'
@import 'css-assets/normalize.styl'

@import 'css-assets/general'
@import 'css-assets/blocks'
@import 'css-assets/elements'
@import 'css-assets/layouts'
@import 'css-assets/grid'
@import 'css-assets/effects'
@import 'css-assets/icons'
// @import 'css-assets/font/stylesheet-outage.styl'
// @import 'pages/post'

svg
  max-rect 128*gs
  display block
  overflow hidden
  fly()

.dust
  g
    display none
    fill white


.caleydoscope
  path
    opacity 0