@import 'assets/imports.styl'
@import 'css-assets/normalize.styl'

@import 'css-assets/general'
@import 'css-assets/blocks'
@import 'css-assets/elements'
@import 'css-assets/layouts'
@import 'css-assets/grid'
@import 'css-assets/effects'
@import 'css-assets/icons'

html, body
  rect 100%

.container
  rect 100%
  max-width 1280px
  position relative
  fly()
  .container__inner
    position absolute
    nw 0
    width 100%
    padding-bottom 70.3125%
    svg
      position absolute
      rect 100%
      nw 0


svg
  max-rect 128*gs
  display block
  overflow hidden
  fly()

.dust
  g
    display none
    fill white

.smoke
  g
    display none
    // fill #f1f1f1

.caleydoscope
  path
    opacity 0

.svg-letter
  fill none
  // stroke white
  stroke-width 8

