
c-bg = white

// REDS
c-red1         = #F942A8
c-red1-hover   = darken(c-red1, 10)

c-red2   		= #FB7BC3

// BLUE
c-blue1     = #416C7D
c-blue1-hover  = lighten(c-blue1, 5)

c-blue2     = #7BB9D0
c-blue2-hover  = lighten(c-blue2, 5)

c-blue3     = #5ADCFF
c-blue3-hover  = lighten(c-blue3, 5)

// SOCIAL NETWORKS
c-google = #DF4A32
c-google-hover  = lighten(c-google, 5)

c-linkedin = #007AB8
c-linkedin-hover  = lighten(c-linkedin, 5)

c-facebook = #39579A
c-facebook-hover  = lighten(c-facebook, 5)

c-twitter = #00ACFF
c-twitter-hover  = lighten(c-twitter, 5)

c-green1 		= #50E3C2
c-facebook 	= #3B5998


// GREYS
stepSize = 11
c-grey1 = #111

c-grey2 = lighten(c-grey1, stepSize)
c-grey2-hover = lighten(c-grey2, 5)

c-grey3 = lighten(c-grey2, stepSize)
c-grey3-hover = lighten(c-grey3, 5)

c-grey4 = lighten(c-grey3, stepSize)
c-grey4-hover = lighten(c-grey4, 5)

c-grey5 = lighten(c-grey4, stepSize)
c-grey5-hover = lighten(c-grey5, 5)

c-grey6 = lighten(c-grey5, stepSize)
c-grey6-hover = lighten(c-grey6, 5)

c-grey7 = lighten(c-grey6, stepSize)
c-grey7-hover = lighten(c-grey7, 5)

c-grey8 = lighten(c-grey7, stepSize)
c-grey8-hover = lighten(c-grey8, 5)

c-grey9 = lighten(c-grey8, stepSize)
c-grey9-hover = lighten(c-grey9, 5)

c-grey10 = lighten(c-grey9, 3)
c-grey10-hover = lighten(c-grey10, 5)

c-almost-grey7 = lighten(c-grey7, 2)


dp = deeppink

c-controls = rgba(white, .75)
// c-controls-hover = rgba(c-blue3, .1)
c-controls-hover = rgba(c-grey9, .75)