g#js-tri-bits1(transform="translate(1050,595)").tri-bits
  g
    path(d='M9.66407436,7.0137519 L4.98144531,0.208007812 L0.272595789,7.00263183 L9.66407436,7.0137519 Z', fill='#D8D8D8')
  g
    path(d='M20.551949,7.01225816 L22.9033203,1.46484375 L29.3935547,1.65039062 L30.7656487,7.01225816 L20.551949,7.01225816 Z', fill='#D8D8D8')
  g
    path(d='M13.3127845,6.92877466 L13.3811646,4.81861722 L16.712206,6.92196984 L13.3127845,6.92877466 Z', fill='#D8D8D8')
  g
    path(d='M33.4034463,6.87387377 L38.9947917,5.58007812 L39.1614583,7.02604167 L33.4034463,6.87387377 Z', fill='#D8D8D8')
  g
    path(d='M18.5669042,6.95430458 L20.688058,2.48046875 L25.8151911,7.02977701 L18.5669042,6.95430458 Z', fill='#D8D8D8')
  g
    path(d='M41.4730297,6.93669978 L41.6464696,4.31651887 L42.8564735,6.90572838 L41.4730297,6.93669978 Z', fill='#D8D8D8')
