doctype
html
  head
    meta(charset='UTF-8')
    title VelocityJS Demo
    link(rel="stylesheet", type="text/css", href="css/main.css")
  
  body
    - var rand = function(min, max){
    -  return Math.floor((Math.random() * ((max + 1) - min)) + min)
    - }
    .container
      .container__inner
        svg(viewBox="0 0 1280 900")
          include parts/meets
          include parts/caleydoscope
          include parts/svg
          include parts/triangles
          include parts/logo.svg
          include parts/waves.svg
          include parts/fish

    script(src="bower_components/jquery/dist/jquery.js")
    script(src="bower_components/velocity/jquery.velocity.min.js")
    script(src="js/helpers.js")
    script(src="js/spriter.js")
    script(src="js/waves.js")
    script(src="js/caleydoscope.js")
    script(src="js/triangles.js")
    script(src="js/svg.js")
    script(src="js/meets.js")
    script(src="js/logo.js")
    script(src="js/fish.js")
    script(src="js/main.js")


    



