doctype
html
  head
    meta(charset='UTF-8')
    title VelocityJS SVG Demo
    link(rel="stylesheet", type="text/css", href="css/main.css")
  
  body
    - var rand = function(min, max){
    -  return Math.floor((Math.random() * ((max + 1) - min)) + min)
    - }
    - var colors = ['deeppink', 'deeppink', '#17F7B9', '#562E74', '#E1E44A', '#6F77B1', '#9E3375', 'deeppink']
    - var randColor = function() {
    -   return colors[rand(0, colors.length-1)]
    - }
    
    .container
      .container__inner
        svg(viewBox="0 0 1280 900")
          include parts/meets
        svg(viewBox="0 0 1280 900").z-hack
          include parts/caleydoscope
          include parts/svg
          include parts/triangles
          include parts/tri-bits
          include parts/logo.svg
        svg(viewBox="0 0 1280 900").z-hack
          include parts/waves.svg
          include parts/fish
          include parts/mushroom.svg

    //- script(src="js/main.min.js")
    script(src="bower_components/jquery/dist/jquery.js")
    script(src="bower_components/velocity/jquery.velocity.min.js")
    script(src="js/helpers.js")
    script(src="js/spriter.js")
    script(src="js/waves.js")
    script(src="js/caleydoscope.js")
    script(src="js/triangles.js")
    script(src="js/svg.js")
    script(src="js/meets.js")
    script(src="js/logo.js")
    script(src="js/fish.js")
    script(src="js/mushroom.js")
    script(src="js/tribits.js")
    script(src="js/main.js")

